:root {
  --black: rgba(0, 0, 0, 1);
  --joindittoinnero: rgba(255, 255, 255, 1);
  --joindittoinshuttle-gray: rgba(81, 99, 111, 1);
  --joindittoinshark: rgba(25, 31, 35, 1);
  --joindittoinshark-70: rgba(25, 31, 35, 0.7);
  --joindittoinemerald: rgba(84, 199, 150, 1);
  --joindittoinmystic: rgba(234, 238, 242, 1);
  --joindittoindodger-blue: rgba(71, 153, 255, 1);
  --joindittoinathens-gray: rgba(247, 248, 249, 1);
  --joindittoinporcelain-90: rgba(243, 245, 246, 0.9);
  --headline-font-family: "Inter", Helvetica;
  --headline-font-weight: 800;
  --headline-font-size: 32px;
  --headline-letter-spacing: 0px;
  --headline-line-height: 48px;
  --headline-font-style: normal;
  --display-font-family: "Inter", Helvetica;
  --display-font-weight: 900;
  --display-font-size: 48px;
  --display-letter-spacing: 0px;
  --display-line-height: 72px;
  --display-font-style: normal;
  --title-font-family: "Inter", Helvetica;
  --title-font-weight: 700;
  --title-font-size: 24px;
  --title-letter-spacing: 0px;
  --title-line-height: 36px;
  --title-font-style: normal;
  --body-font-family: "Inter", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: 24px;
  --body-font-style: normal;
  --small-font-family: "Inter", Helvetica;
  --small-font-weight: 400;
  --small-font-size: 14px;
  --small-letter-spacing: 0px;
  --small-line-height: 24px;
  --small-font-style: normal;
  --sub-title-font-family: "Roboto", Helvetica;
  --sub-title-font-weight: 700;
  --sub-title-font-size: 24px;
  --sub-title-letter-spacing: -0.6899999976158142px;
  --sub-title-line-height: 32px;
  --sub-title-font-style: normal;
  --joinditto-in-inter-medium-16-font-family: "Inter", Helvetica;
  --joinditto-in-inter-medium-16-font-weight: 500;
  --joinditto-in-inter-medium-16-font-size: 16px;
  --joinditto-in-inter-medium-16-letter-spacing: -0.2800000011920929px;
  --joinditto-in-inter-medium-16-line-height: 24px;
  --joinditto-in-inter-medium-16-font-style: normal;
  --joinditto-in-inter-bold-12-font-family: "Inter", Helvetica;
  --joinditto-in-inter-bold-12-font-weight: 700;
  --joinditto-in-inter-bold-12-font-size: 12px;
  --joinditto-in-inter-bold-12-letter-spacing: 0px;
  --joinditto-in-inter-bold-12-line-height: 16px;
  --joinditto-in-inter-bold-12-font-style: normal;
  --large-font-family: "Roboto", Helvetica;
  --large-font-weight: 800;
  --large-font-size: 60px;
  --large-letter-spacing: -0.6899999976158142px;
  --large-line-height: 32px;
  --large-font-style: normal;
  --slogan-font-family: "Roboto", Helvetica;
  --slogan-font-weight: 400;
  --slogan-font-size: 16px;
  --slogan-letter-spacing: -0.2800000011920929px;
  --slogan-line-height: 24px;
  --slogan-font-style: normal;
  --joinditto-in-inter-bold-30-font-family: "Inter", Helvetica;
  --joinditto-in-inter-bold-30-font-weight: 700;
  --joinditto-in-inter-bold-30-font-size: 30px;
  --joinditto-in-inter-bold-30-letter-spacing: -0.6899999976158142px;
  --joinditto-in-inter-bold-30-line-height: 36px;
  --joinditto-in-inter-bold-30-font-style: normal;
  --joinditto-in-inter-bold-16-font-family: "Inter", Helvetica;
  --joinditto-in-inter-bold-16-font-weight: 700;
  --joinditto-in-inter-bold-16-font-size: 16px;
  --joinditto-in-inter-bold-16-letter-spacing: -0.6899999976158142px;
  --joinditto-in-inter-bold-16-line-height: 24px;
  --joinditto-in-inter-bold-16-font-style: normal;
  --joinditto-in-inter-regular-16-font-family: "Inter", Helvetica;
  --joinditto-in-inter-regular-16-font-weight: 400;
  --joinditto-in-inter-regular-16-font-size: 16px;
  --joinditto-in-inter-regular-16-letter-spacing: 0px;
  --joinditto-in-inter-regular-16-line-height: 24px;
  --joinditto-in-inter-regular-16-font-style: normal;
  --joinditto-in-inter-bold-36-font-family: "Inter", Helvetica;
  --joinditto-in-inter-bold-36-font-weight: 700;
  --joinditto-in-inter-bold-36-font-size: 36px;
  --joinditto-in-inter-bold-36-letter-spacing: -0.6899999976158142px;
  --joinditto-in-inter-bold-36-line-height: 40px;
  --joinditto-in-inter-bold-36-font-style: normal;
}
